body {
    background-color: white;
    color: white;
    font-family: "EuclidCircularA", sans-serif;
}

.box {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    border-color: #e5e7eb;

}